* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden;
}

h1, #timer {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    text-align: center;
    z-index: 1;
}

#timer {
    font-size: 1.5em;
    margin: 10px 0;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 150px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    overflow: hidden;
    perspective: 1000px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.flipped img {
    display: block;
    transform: rotateY(180deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    background: linear-gradient(135deg, #ff4136, #85144b);
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    animation: slideIn 0.3s ease-in-out;
}

.modal h2 {
    color: white;
}

.modal img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #8B0000;
    color: white;
    margin: 0 10px;
}

button:hover {
    background-color: #333;
    transform: scale(1.05);
}